{{outlet}}
<section id="main-content">
    <section class="wrapper">
		<h3>
		Backend error occured while processing. Please try after some time.
		</h3>
		<p id="takeToRecommend">
			{{#link-to 'recommend'}}Recommend Programs/Courses For me{{/link-to}}
		</p>
	</section>
</section>