

        <!--main content start-->
      <section id="main-content">
          <section class="wrapper">

              <div class="row">

                  <div class="col-lg-9 main-chart">
              	{{#link-to 'recommend' class="btn btn-primary btn-lg btn-block"}}Recommend Programs/Courses For me{{/link-to}}    
                    <div class="row mtbox">
              
                      <div class="col-md-2 col-md-offset-1 box0">
                        <div class="box1">
                  <span class="li_cloud"></span>
                  <h3 id="rec_status_h3">NA</h3>
                        </div>
                  <p id="rec_status_p">Not able to gather information about number of recommendations</p>
                      </div>
                      <div class="col-md-2 col-sm-2 box0">
                        <div class="box1">
                  <span class="li_stack"></span>
                  <h3 id="course_status_h3">NA</h3>
                        </div>
                  <p id="course_status_p">Course details are not available</p>
                      </div>
                      <div class="col-md-2 col-sm-2 box0">
                        <div class="box1">
                  <span class="li_news"></span>
                  <h3>4</h3>
                        </div>
                  <p>Heriot Watt Universities are present in 4 countries</p>
                      </div>
                      
                      <div class="col-md-2 col-sm-2 box0">
                        <div class="box1">
                  <span class="li_data"></span>
                  <h3 id="server_status_h3">NA!</h3>
                        </div>
                  <p id="server_status_p">Your server is not working perfectly. :( </p>
                      </div>
                    
                    </div><!-- /row mt -->  
                  
                      
                      <div class="row mt">
                      <!-- SERVER STATUS PANELS -->
                        <div class="col-md-4 col-sm-4 mb">
                          <div class="white-panel pn donut-chart">
                            <div class="white-header">
                    <h5>Distinct Visitors Today</h5>
                            </div>
                <div class="row">
                  <div class="col-sm-6 col-xs-6 goleft">
                    <p id="userCount"><i class="fa fa-database"></i> 70%</p>
                  </div>
                            </div>
                             <div class="centered">
                    <img src="http://amazonautonation.com/wp-content/uploads/2015/11/10574697_330195383842590_453268607_n.png" width="120">
                            </div>
					                
                          </div><! --/grey-panel -->
                        </div><!-- /col-md-4-->
                        

                        <div class="col-md-4 col-sm-4 mb">
                          <div class="white-panel pn">
                            <div class="white-header">
                    <h5>TOP Hit Course</h5>
                            </div>
                <div class="row">
                  <div class="col-sm-6 col-xs-6 goleft">
                    <p id="maxHit"><i class="fa fa-heart"></i> 122</p>
                  </div>
                  <div class="col-sm-6 col-xs-6"></div>
                            </div>
                            <div class="centered">
                    <img src="http://sdittcollege.org/images/courses.png" width="120">
                            </div>
                          </div>
                        </div><!-- /col-md-4 -->
                        
            <div class="col-md-4 mb">
              <!-- WHITE PANEL - TOP USER -->
              <div class="white-panel pn">
                <div class="white-header">
                  <h5>TOP USER IP</h5>
                </div>
                <p><img src="ui-zac.jpg" class="img-circle" width="80"></p>
                <p><b id="maxIp">0.0.0.0</b></p>
                <div class="row">
                  <div class="col-md-6" style="width:100%">
                    <p class="small mt">Last Accessed On</p>
                    <p id="maxIpDate">2012</p>
                  </div>
                </div>
              </div>
            </div><!-- /col-md-4 -->
                        

          </div><!-- /row -->
                    
                            
          <div class="row">
            <!-- TWITTER PANEL -->
            <div class="col-md-4 mb">
                          <div class="darkblue-panel pn">
                            <div class="darkblue-header">
                    <h5>Last Visitor</h5>
                            </div>
               <div class="centered">
                    <img src="https://cdn4.iconfinder.com/data/icons/green-shopper/1068/user.png" width="120">
                            </div>
                
                <p id="lastDateVisited">April 17, 2014</p>
                <footer>
                  <div class="">
                    <h5 id="lastCourseSelected" style="color: white;"><i class="fa fa-hdd-o"></i>SS</h5>
                  </div>
                  <div class="">
                    <h5 id="matchScore" style="color:white;">5</h5>
                  </div>
                </footer>
                          </div><! -- /darkblue panel -->
            </div><!-- /col-md-4 -->
            
            
            <div class="col-md-4 col-sm-4 mb">
              <!-- REVENUE PANEL -->
              <div class="darkblue-panel pn">
                <div class="darkblue-header">
                  <h5>Number of Searches</h5>
                </div>
                <div class="centered">
                    <img src="http://www.newdesignfile.com/postpic/2011/05/data-document-icon_244034.png" width="120">
                            </div>
                <p class="mt" style="color:white;"><b id="recommendPdf">17</b> via Pdf Upload<br/>
                <b id="recommendSearch">0</b> via Normal</p>
              </div>
            </div><!-- /col-md-4 -->
            
            <div class="col-md-4 col-sm-4 mb">
              <!-- REVENUE PANEL -->
              <div class="darkblue-panel pn">
                <div class="darkblue-header">
                  <h5>Average Recommend Time</h5>
                </div>
                <div class="centered">
                    <img src="http://icons.iconseeker.com/png/fullsize/isabi/time-machine-shaped.png" width="120">
                            </div>
                <p class="mt" style="color:white;"><b id="recommendTimeAvg">17</b><br/>seconds</p>
              </div>
            </div><!-- /col-md-4 -->
            
          </div><!-- /row -->
          
      
          
                  </div><!-- /col-lg-9 END SECTION MIDDLE -->
                  
              </div><! --/row -->
          </section>


      </section>
