
<section id="main-content">
    <section class="wrapper">
		<h3>Recommend via Uploading Pdf</h3>

		{{pdf-upload}}

	</section>

	 <section class="wrapper">
		<h3>Recommend via Normal Search</h3>
		<form {{action "recommend" model on="submit"}}>
		  {{textarea value=model.skills cols="80" rows="6" placeholder="Skills OR Educational background OR Experience (keywords)"}}
		  {{input type="submit" value=Search class="btn btn-primary"}}
		</form>
	
	</section>

	 <section class="wrapper">
		<div class="alert alert-danger alert-dismissible close_on_click" role="alert" style="display:none; width:50%">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<strong>Error!</strong> There are no courses matching your skills.
		</div>
		<div class="alert alert-danger alert-dismissible close_on_click_error" role="alert" style="display:none; width:50%">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<strong>Error!</strong> Either file uploaded is not pdf or backend server parsing failed.
		</div>
		<div>
			<canvas id="myChart" width="400" height="400"></canvas>
		</div>
	</section>
</section>